@media (min-height: 768px) {
    .main {
        padding-top: 70px;
        min-height: 500px;
    }
    .div-form {
        max-width: 300px;
    }
}
.count_num {
    color: red;
}
.right {
    float: right
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-margin-top-100 {
    margin-top: 120px;
}
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    text-align: left;
}
.main {
    padding-top: 70px;
    min-height: 420px;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}
