@media (min-height: 768px) {
    .main {
        padding-top: 70px;
        min-height: 500px;
    }
    .div-form {
        max-width: 300px;
    }
}
.count_num {
    color: red;
}
.right {
    float: right;
}
.left {
    float: left;
}
.no-padding {
    padding: 0;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-margin-top-100 {
    margin-top: 120px;
}
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    text-align: left;
}
.main {
    padding-top: 70px;
    min-height: 420px;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}

.quantity-form span {
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #cacbcb;
    margin: 0 -4px;
    width: 40px;
    display: inline-block;
    text-align: center;
}
.quantity-form a {
    border: 1px solid #cacbcb;
    width: 20px;
    display: inline-block;
    color: #666;
    text-align: center;
    text-decoration: none;
}
@media (max-width: 510px) {
    .quantity-form span {
        width: 20px;
    }
}
.th-col-2 {
    width: 20%;
}
.th-col-4 {
    width: 40%;
}
.panel-div {
    margin: 12px;
}
#check-order {
    border-radius: 0px;
}
.panel-heading-time {
    display: inline-block;
    color: #999;
    margin-right: 30px;
}
.product-pic-s {
    height: 50px;
    width: 50px;
}
.product-pic-m {
    height: 100px;
    width: 100px;
}
.product-pic-l {
    height: 200px;
    width: 200px;
}
.product-item {
    padding: 5px 0;
}
.block-center {
    text-align: center;
}
.list-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-item + .list-item {
    border-top: 1px solid #ddd;
}
.list-pic-fix {
    padding-left: 0;
}
