{% extends 'base.html' %}
{% block body %}
<div class="">
    <a href="{{ url_for('admin.product_new') }}" class="btn btn-info right">新建商品</a>
    <h1>Product Manage</h1>
</div>
<form class="navbar-form " action="{{ url_for('admin.products_search')}}" method="post">
    <input type="text" class="form-control" name="name" placeholder="按商品名检索">
    <button type="submit" class="btn btn-default">Search</button>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="th-col-4">商品</th>
            <th class="th-col-2">单价</th>
            <th class="th-col-2">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for p in ms %}
        <tr data-id={{ p.id }}>
            <td>
                <img src="{{ p.pic }}"  class="product-pic-s">
                <a href="{{ url_for('admin.product', uuid=p.uuid) }}">{{ p.name }}</a>
            </td>
            <td>{{ p.price }}</td>
            <td>
                <a href="{{ url_for('admin.product_delete', id=p.id) }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
