<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.C.</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
</head>
<body data-channel="public">
<div id="layout">
    {% block head %}
        <div>
            <a href="{{ url_for('index.index') }}">首页</a>
            {% if u %}
            <span>欢迎，{{ u.username }}</span>
            <a href="{{ url_for('user.cart') }}">购物车</a>
            <a href="{{ url_for('user.logout') }}">登出</a>
            {% else %}
            <a href="{{ url_for('user.login') }}">登录</a>
            <a href="{{ url_for('user.register') }}">注册</a>
            {% endif %}
        </div>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block foot %}
        <div>copyright</div>
    {% endblock %}
</div>
</body>

</html>
