<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>E.C.</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
</head>
<body data-channel="public">
<div id="layout" class="">
    {% block head %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container ">
            <a class="navbar-brand" href="{{ url_for('index.index') }}">首页</a>

            <div class="right">

                {% if u %}
                <span class="navbar-text">欢迎，{{ u.username }}</span>
                <a class="btn btn-success navbar-btn" href="{{ url_for('user.cart') }}">购物车
                    <span class="badge">{{ u.cart|count }}</span>
                </a>
                <a class="btn btn-default navbar-btn" href="{{ url_for('user.logout') }}">登出</a>
                {% else %}
                <a class="btn btn-primary navbar-btn" href="{{ url_for('user.login') }}">登录</a>
                <a class="btn btn-default navbar-btn" href="{{ url_for('user.register') }}">注册</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    <div class="main body container">
        {% block body %}
        {% endblock %}
    </div>


    {% block foot %}
        <footer class="bs-docs-footer">
            <div class="container">
                <ul class="footer-links">
                    <li><a href="#">GitHub 仓库</a></li>
                    <li><a href="#">协议</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
                <p>
                    Designed and built with all the love in the world by @Suzumiya.
                </p>
                <p>
                    本项目源码受 MIT开源协议保护.
                </p>
            </div>

        </footer>
    {% endblock %}
</div>
</body>

</html>
