{% extends 'base.html' %}
{% block body %}
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 col-sm-6 col-md-4">
        <div id="id-div-login" class="div-form div-margin-top-100">
            <form method="post" action="{{ url_for('user.login') }}">
                <input class="form-control" name="username" id="id-input-username" placeholder="用户名">
                <input class="form-control" name="password" id="id-input-password" type="password" placeholder="密码">
                <br>
                <button class="btn btn-default btn-block">登录</button>
            </form>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div id="particles-js"></div>
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/js/particles.json');
</script>
<style media="screen">
    .bs-docs-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

{% endblock %}
