{% extends 'base.html' %}
{% block body %}
    <div>
        {{ msgs }}
    </div>
    <div id="id-div-register" class="div-form" >
        <form method=POST enctype=multipart/form-data action="{{ url_for('admin.add') }}">
            <input type=file name=pic>
            <input class="form-control" name="name" placeholder="商品名称">
            <br>
            <input class="form-control" name="price" placeholder="商品价格">
            <br>
            <button class="btn btn-success btn-block" >创建</button>
        </form>

    </div>
{% endblock %}
