{% extends 'base.html' %}
{% block body %}
    <div>
        {{ msgs }}
    </div>
    <div class="div-form sign-flow" >
        <form method=POST enctype=multipart/form-data action="{{ url_for('admin.add') }}">
            <label for="id-name">商品名称</label>
            <input class="form-control" name="name" id=id-name >
            <label for="id-price">商品价格</label>
            <input class="form-control" name=price id=id-price >
            <label for="id-pic">商品图片</label>
            <input class="form-control" type=file name=pic id=id-pic>
            <hr>
            <button class="btn btn-success btn-block" >创建</button>
        </form>

    </div>
{% endblock %}
