{% extends 'base.html' %}
{% block body %}
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 col-sm-6 col-md-4">
        <div id="id-div-register" class="div-form center-block div-margin-top-100 panel panel-info">
            <div class="panel-body">
                <form method="post" action="{{ url_for('user.register') }}">
                    <label for="id-input-username">用户名</label>
                    <input class="form-control" name="username" id="id-input-username">
                    <label for="id-input-password">密码</label>
                    <input class="form-control" name="password" id="id-input-password">
                    <br>
                    <button class="btn btn-info btn-block">注册</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div id="particles-js"></div>
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/js/particles.json');
</script>
{% endblock %}
