{% extends 'base.html' %}
{% block login %}
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>

<div id="id-div-register" class="div-form sign-flow">
    <form method="post" action="{{ url_for('user.register') }}">
        <div class="group-inputs">
            <input name="username" id="id-input-username" placeholder="用户名">
            <input name="password" id="id-input-password" placeholder="密码">
        </div>
        <br>
        <button class="btn btn-info btn-block">注册</button>
    </form>
</div>

<div id="particles-js"></div>
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/js/particles.json');
</script>
<style>
@media (min-height: 719px) {
    .bs-docs-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
</style>
{% endblock %}
