{% extends 'base.html' %}
{% block body %}
<div id="" class="div-form" >
    <form method=POST enctype=multipart/form-data action="{{ url_for('user.profile') }}">
        <label for="id-name">用户名</label>
        <input class="form-control" name="username" id=id-name value="{{ u.username }}">
        <label for="id-password">修改密码</label>
        <input class="form-control" name=password id=id-password >
        <label for="id-re-password">重复密码</label>
        <input class="form-control" name=re_password id=id-re-password >
        <hr>
        <button class="btn btn-success btn-block" >更新</button>
    </form>

</div>
{% endblock %}
